body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


div.Logo_banner
{
    background-image: url('../images/Carsale_logo.png');
    background-repeat: no-repeat;
    height: 80px;
}
div.body
{
    width: 800px;
    margin:0 auto;
    font-size: small;
}
div.LoginMenu
{
    float: right;
    min-height: 20px;
}
 
div.LoginSection
{
   float: right;
   min-width: 500px;
   min-height: 400px;
}
div.item
{
    margin-top: 5px;
    margin-bottom: 5px;
}
div.leftColumn 
{
    float: left;
    width: 220px;    
} 
div.rightColumn
{
    float: left;
    min-width: 300px; 
} 
div.row
{
    width: 100%;
    min-height:20px; 
    margin: 10px 0px 10px 0px;
    float: left;   
}
div.leftItem
{
    width: 15%;
    float: left;    
}
div.rightItem
{
      width: 80%;
      float: left;       
}
div.rightActionItem
{
    float: right;
    margin-right: 10px;
}
div.topMenu {
    float: left;
    min-height: 20px;
    margin: 10px 10px 20px 0px;
}
.textbox
{
    width: 300px;
}
div.error
{
    color: red;
}
span.mandatory
{
    color: red;
}